.AmericanToImpliedProbablityCalcWrapper {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}

.Title {
   text-align: center;
 }

.Label {
  text-align: right;
  margin-right: 25%;
}

.Input {
   margin-left: 10%;
   width: 25%;
}

.Output {
   text-align: center;
}

.CalculateButton {
  width: 100%;
}